.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2em 0em 1em 0em;
  
  &__title{
    margin: 1em;
    font-size: 2.5em;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;  
    color: #1A2E4F; 

    &_line{
      margin-top: 0.2em;
      height: 0.1em;
      background-color: #1A2E4F;
    }
    
  }
  &__navegacao {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
    margin: 0em 0em 1em 0em;

    h1 {
      font-size: 1em;
      font-weight: bold;
    }

    &_voltar {
      display: flex; // Mostra o botão voltar em telas maiores
      align-items: center;
      font-size: 1em;

      color: #1A2E4F;

      cursor: pointer;
      
      h1{
        border-bottom: 0.1em solid #1A2E4F;
        padding-bottom: 0.2em;
      }
    }

    &_guia {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; // Reajusta o conteúdo do título para espaçamento entre itens
      font-size: 1em;
      font-weight: bold;
      gap: 0.3em;
  
      h1 {
        
        color: #1A2E4F;
        border-bottom: 0.1em solid #1A2E4F;
        padding-bottom: 0.2em;        
      }
  
      span {
        color: rgba(var(--white));
      }
    }
  }
}